<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At reiciendis rerum, culpa consequatur quos itaque
            ipsam asperiores eveniet magnam doloribus?</p>
    </header>
    <!-- remove inline style in prod -->
    <div style="width: 30%;">
        <div class="card card--secondary">
            <header class="card__header">Card title</header>
            <div class="card__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni iure magnam quam,
                tenetur quia expedita nemo rerum! Tempore perferendis amet quae quibusdam, quia cupiditate ratione iste
                facilis, aspernatur in cum.</div>

        </div>
    </div>
</section>

<section class="block block--dark block--skewed-right">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At reiciendis rerum, culpa consequatur quos itaque
            ipsam asperiores eveniet magnam doloribus?</p>

    </div>
</section>