<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Manage Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam modi assumenda officia quod explicabo,
            reprehenderit doloribus eligendi fugit sunt earum, perferendis porro, vero natus dignissimos provident
            et iste! Suscipit, expedita?</p>
            
    </div>
</div>
